/*===========================================================
    ^Overrides
===========================================================*/
ul.off-canvas-list li a {
    border-color: rgba(38, 38, 38, .5);
}

.move-right .exit-off-canvas {
    box-shadow: -4px 0 4px rgba(38, 38, 38, .25), 4px 0 4px rgba(38, 38, 38, .25);
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    padding-left: 15px;
    margin-bottom: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    background: #fff;
    border: 1px solid #2C2C33;
    box-shadow: none;
}

.button, button {
    font-weight: bold;
    color: #fff;
    outline: none;
    border: none;
    background-color: #005eb8;
}

.entry-header[data-magellan-expedition],
.entry-header[data-magellan-expedition-clone] {
    padding: 0;
    background-color: transparent;
}

.entry-header[data-magellan-expedition="fixed"] {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #000;
}


/*===========================================================
    ^Helpers
===========================================================*/

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/*===========================================================
    ^Elements
===========================================================*/
body {
    font-family: 'gentona', helvetica, arial, sans-serif;
    color: #2c2c33;
}

audio,
embed,
iframe,
img,
object,
video {
    max-width: 100%;
    height: auto;
}


/*===========================================================
    ^Molecules
===========================================================*/
.menu-toggle {
    display: inline-block;
    padding: 0 20px;
    font-family: 'titling-gothic', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 72px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    background-color: #7b7ca6;
}

.menu-toggle:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -99999px;
    width: 99999px;
    min-height: 6em;
    background-color: #7b7ca6;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: #fff;
    background-color: #68ACE5;
}

.entry-heading {
    padding: 0;
    margin: 0;
    font-family: 'quadon', serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 72px;
}

.nav {
    font-size: 0px;
    line-height: 1;
}

.nav,
.nav > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: top;
}

.nav > li > a {
    display: block;
    font-size: 16px;
    text-decoration: none;
}

.nav--stack,
.nav--stack > li {
    display: list-item;
}


/*  ^Billboard
===========================================================*/
.billboard-is-fullheight,
.billboard-is-fullheight body,
.billboard-is-fullheight .off-canvas-wrap,
.billboard-is-fullheight .inner-wrap {
    height: 100%;
    overflow-y: auto;
}

.billboard-is-fullheight .billboard--fullheight {
    position: relative;
    height: 90%;
    min-height: 500px;
    max-height: 900px;
}

.billboard--fullheight .billboard-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.billboard--fullheight .billboard-background:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .50);
}


/*  ^Sticky
===========================================================*/


@media only screen and (min-width:40.063em) {
    .stuck {
        position: fixed !important;
    }
}


/*===========================================================
    ^Organisms
===========================================================*/
/*  ^Site Nav
===========================================================*/
.site_nav-heading {
    font-family: 'quadon', serif;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.site_nav,
.footer_nav {
    position: relative;
    text-align: justify;
}

.site_nav:after,
.footer_nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.site_nav > li,
.footer_nav > li {
    width: 32%;
    margin-bottom: 18px;
    text-align: left;
}

.site_nav > li > a {
    position: relative;
    padding: 0 18px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #e5e2e0;
}

.site_nav .site_nav-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 18px;
}

/*  ^Offscreen ====    */
.site_nav.off-canvas-list > li {
    width: 100%;
    margin-bottom: 0;
}

.site_nav.off-canvas-list > li > a {
    padding: 18px;
}

.site_nav.off-canvas-list .site_nav-color {
    top: 0px;
    height: 100%;
}


/*  ^Footer Nav
===========================================================*/
.footer_nav > li > a {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #b4b2ad;
}



/*  ^Page Nav
===========================================================*/
.page_nav {
    font-family: 'gentona';
    font-weight: 500;
    font-size: 15px;
}

.page_nav > li {
    margin-bottom: 9px;
}

.page_nav a {
    color: #7e7e7c;
}

.page_nav a:hover,
.page_nav a.active {
    color: #7b7ca6;
}


/*  ^Home Media
===========================================================*/
.home_media {

}

.home_media .media-heading {
    font-family: 'quadon', serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
}

.home_media p {
    font-size: 15px;
    line-height: 24px;
}


/*  ^Guidelines
===========================================================*/
.guideline-item .example-item {

}

.guideline-item .media-header {
    padding-top: 18px;
}

.guideline-item .media-heading {
    margin: 0;
    font-family: 'quadon', serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
}

.guideline-item .media-text {
    font-family: 'gentona', sans-serif;
    font-size: 15px;
    line-height: 24px;
}


/*  ^Examples
===========================================================*/
.example-item {
    position: relative;
    display: block;
    padding: 18px;
    border: 1px solid #7b7ca6;
    background-color: #fff;
}

.example-id {
    position: absolute;
    bottom: 9px;
    left: 9px;
}


/*  ^Captions
===========================================================*/
.example-captions {

}

.example-caption {
    display: block;
    margin-bottom: 9px;
    text-decoration: none;
    color: #7e7e7c;
    cursor: default;
}

.example-caption:hover,
.example-caption:focus {
    color: #7e7e7c;
    cursor: default;
}

.example-id,
.example-caption-id {
    display: block;
    padding: 3px 6px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    color: #7b7ca6;
    border: 1px solid #7b7ca6;
    background: #fff;
}

.example-caption-text {
    display: block;
}


/*  ^Downloads
===========================================================*/

.example-downloads {
    padding: 12px 15px;
    background-color: #eeedeb;
}

.download-item {
    display: block;
    position: relative;
    padding-left: 38px;
    color: #7b7ca6;
}

.download-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #f8f7f6;

}

.download-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 15px;
    background: url(../images/icon-download@2x.png) center center no-repeat;
    background-size: 100%;
}

.download-item:hover {
    color: #2C2C33;
}

.download-item:hover:after {
    background-image: url(../images/icon-download-hover@2x.png);
}


/*  ^Logos
===========================================================*/
.logos {
    display: none;
}

.logos-preview {
    width: 50%;
    margin: 0 auto;
}

.logos-images {
    position: relative;
    padding-top: 64.2%;
}

.logos-preview img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
            transition: opacity .3s ease-out;
}

.logos-preview img.active {
    display: block;
    opacity: 1;
}

.logos h3 {
    font-family: 'titling-gothic', sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}

.logos-links {
    width: 75%;
    margin: 0 auto;
}

.logos-links ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.logos-links li {
  list-style: none;
}

.logos-links a {
  display: block;
  color: #000;
  padding: 4px 6px;
  margin-bottom: 2px;
}

.logos-links a:hover {
  text-decoration: none;
  background-color: #efefef;
}


/*  ^Colors
===========================================================*/
.colors,
.color {
    position: relative;
}

.color {
    padding-left: 30%;
}

.color:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30%;
    height: 100%;
    border: 2px solid #F8F7F6;
}

.color-values {
    position: relative;
    overflow: hidden;
}

.color-list {
    margin: 0 0 0 12px;
    font-size: 0;
    line-height: 0;
}

.color-list dt,
.color-list dd {
    display: inline-block;
    margin: 0;
    font-size: 15px;
    line-height: 18px;
}

.color-list dt {
    margin-left: 9px;
    font-weight: 700;
    color: #7E7E7C;
}

.color-list dt:first-child {
    margin: 0;
}

.color-list dd {
    margin-left: 3px;
}

.colors--sm {
    display: inline-block;
    width: 50%;
}

.colors--sm .color-list dt,
.colors--sm .color-list dd {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 10px;
    line-height: 12px;
}

.colors--sm .color-list dt {
    margin-left: 6px
}

.colors--sm .color-list dt:first-child {
    margin: 0;
}

.color-white:before {
    background-color: #fff;
}

.color-black:before {
    background-color: #000;
}

.color-288:before {
    background-color: #002D72;
}

.color-7501c:before {
    background-color: #d9c89e;
}

.color-7407c:before {
    background-color: #CBA052
}

.color-721C:before {
    background-color: #DDA46F
}

.color-479C:before {
    background-color: #AA8066
}

.color-7586:before {
    background-color: #9E5330
}

.color-Gray1:before {
    background-color: #E5E2E0
}

.color-Gray2:before {
    background-color: #B4B2AD
}

.color-Gray3:before {
    background-color: #7E7E7C
}

.color-Gray4:before {
    background-color: #4A484C
}

.color-Gray5:before {
    background-color: #2C2C33
}

.color-548C:before {
    background-color: #003D4C
}

.color-7696C:before {
    background-color: #6399AE
}

.color-284C:before {
    background-color: #68ACE5
}

.color-300C:before {
    background-color: #005EB8
}

.color-279C:before {
    background-color: #418FDE
}

.color-651C:before {
    background-color: #A7BCD6
}

.color-7675C:before {
    background-color: #7C7FAB
}

.color-273C:before {
    background-color: #24135F
}

.color-2617C:before {
    background-color: #470A68
}

.color-7656C:before {
    background-color: #8E3A80
}

.color-5205C:before {
    background-color: #86647A
}

.color-1915C:before {
    background-color: #EF4A81
}

.color-505C:before {
    background-color: #6F2C3F
}

.color-7623C:before {
    background-color: #8A2A2B
}

.color-179C:before {
    background-color: #E03C31
}

.color-486C:before {
    background-color: #E8927C
}

.color-173C:before {
    background-color: #CF4520
}

.color-1505C:before {
    background-color: #FF6900
}

.color-732C:before {
    background-color: #623412
}

.color-1375C:before {
    background-color: #FF9E1B
}

.color-1215C:before {
    background-color: #FBD872
}

.color-116C:before {
    background-color: #FFCD00
}

.color-101C:before {
    background-color: #F7EA48
}

.color-584C:before {
    background-color: #D2D755
}

.color-574C:before {
    background-color: #4e5932
}

.color-7489C:before {
    background-color: #74AA50
}

.color-7743C:before {
    background-color: #44693D
}

.color-341C:before {
    background-color: #007A53
}

.color-564C:before {
    background-color: #86C8BC
}

.color-3268C:before {
    background-color: #00AB8E
}


/*===========================================================
    ^Masthead
===========================================================*/
.brand-logo {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1;
}

.brand-mark {
    display: block;
    width: 208px;
    height: 46px;
    overflow: hidden;
    background: url(../images/jhu-logo-interior@2x.png) center center no-repeat;
    background-size: 208px 46px;
}

.brand-mark:before {
    content: '';
    display: block;
    width: 0;
    height: 150%;
}


.site-masthead {
    padding: 36px 0;
}

.site-utility a {
    font-size: 15px;
    font-weight: bold;
    color: #B4B2AD;
}


/*===========================================================
    ^Footer
===========================================================*/
.site-footer {
    padding: 48px 0;
}

.footer-contact p {
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #b4b2ad;
}


/*===========================================================
    ^Page
===========================================================*/

html,
.interior {
    height: auto;
}

.page .site-masthead {
    position: relative;
    z-index: 2;
    background-color: #fffffe;
    box-shadow: 0px 1px 3px 0px #E5E2E0;
}

.page .site-utility {
    padding-top: 12px;
    text-align: right;
}

.page .site-utility li {
    margin-left: 28px;
}

.page .site-content {
    position: relative;
    z-index: 1;
    padding-top: 24px;
    padding-bottom: 72px;
    background-color: #f8f7f6;
}

.page .entry-header {
    position: relative;
    margin-bottom: 24px;
    background: #f8f7f6;
    -webkit-transition: background .3s linear;
            transition: background .3s linear;
}

.page .menu-toggle {
    position: absolute;

}

.page .guideline-item {
    margin-bottom: 48px;
}

.page .guideline-item .example-caption {
    overflow: hidden;
}

.page .guideline-item .example-caption-id {
    float: left;
    width: 22px;
}

.page .guideline-item .example-caption-text {
    overflow: hidden;
    padding-left: 9px
}

.page .guideline-item .download-item {
    margin-bottom: 9px
}

.page .guideline-item .download-item:last-child {
    margin-bottom: 0;
}

.page .guideline-item .colors--sm {
    width: 49%;
}

.page .guideline-item .color {
    margin-bottom: 18px;
}

.page .guideline-item .colors--sm .color {
    margin-bottom: 9px;
}

.page .guideline-item .color:last-child {
    margin-bottom: 0;
}

.page .dos {
    padding-top: 26px;
    padding-left: 0;
}

.interior .uno,
.interior .dos {
    position: relative;
}

.interior .uno {
    z-index: 2;
}

.interior .dos {
    z-index: 1;
}

.interior .entry-header,
.interior .page-nav {
    z-index: 10;
}

.interior .page-nav {
    max-width: 140px;
}

.interior .entry-header.stuck {
    width: 100%;
}

.interior .page-nav.stuck {
    width: 100%;
    max-width: inherit;
}

.interior .entry-header.stuck .entry-header-wrap,
.interior .page-nav.stuck .page-nav-wrap {
    width: 100%;
    max-width: 62.5rem;
    margin: 0 auto;
}

.interior .entry-header.stuck .entry-heading {
    margin-bottom: 0;
}

@media only screen and (min-width:40.063em) {

    .interior .entry-header.stuck {
        top: 0;
        left: 0;
    }

    .interior .page-nav.stuck {
        top: 122px;
        left: 0;
        width: 100%;
        max-width: inherit;
    }

    .interior .page-nav.stuck .page-nav-wrap {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .interior .page-nav.stuck .page_nav {
        position: relative;
        left: 8.3333%;
        width: 140px;
        position: relative;
        left: 8.33333%;
    }

}

.interior .page-nav li {
    width: 90%;
}


/*===========================================================
    ^Home
===========================================================*/
.home .site-masthead {
    height: 100%;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.home .brand-column {
    position: relative;
    height: 100%;
    background-color: #68ACE5
}

.home .nav-column {
    height: 100%;
}

.home .brand-column:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -500%;
    width: 500%;
    height: 100%;
    background-color: #68ACE5
}

.home .masthead-brand,
.home .home-nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
}

.home .home-nav {
    -webkit-transform: translateY(-37%);
            transform: translateY(-37%);
}

.home .masthead-brand {
    display: block;
    float: none;
    margin: 0 auto;
}

.home .masthead-brand .brand-mark {
    width: 376px;
    height: 177px;
    margin: 0 auto 60px;
    background-image: url(../images/jhu-logo-home@2x.png);
    background-size: 376px 177px;
}

.home .masthead-brand .brand-tagline {
    width: 376px;
    margin: 0 auto;
    color: #fff;
}

.home .masthead-brand .brand-tagline p {
    font-weight: 700;
}

.home .site-nav,
.home .utility-nav {
    width: 80%;
    margin: 0 0 0 20%;
}

.home .site_nav-heading {
    margin-bottom: 18px;
}

.home .site-nav {
    margin-bottom: 36px;
}

.home .utility-nav {
    text-align: center;
}

.home .utility-nav li {
    margin: 0 15px 9px 0;
}

.home .utility-nav a {
    color: #e5e2e0;
}

.home .site-content {
    padding-top: 48px;
    padding-bottom: 60px;
}

.home .home_media {
    margin-bottom: 126px;
}

.home .home_media:last-child {
    margin-bottom: 0;
}

.home .home_media .media-text {
    padding-left: 0
}



/*===========================================================
    ^Contact
===========================================================*/
.page .gform_wrapper .gfield_description {
    padding: 0;
    font-size: 12px;
    font-style: italic;
}

.page .gform_wrapper .gfield,
.page .gform_wrapper .top_label li.gfield.gf_left_half,
.page .gform_wrapper .top_label li.gfield.gf_right_half {
    margin-bottom: 18px;
}

.page .gform_wrapper .top_label .gfield_label {
    margin-top: 0
}

.page .gform_wrapper .gform_footer {
    padding: 15px;
    background-color: #e5e2e0;
}

.page .gform_footer .button {
    margin: 0;
}

.page .gform_footer .button:hover {
    background-color: #2c2c33;
}


.page .ts_fonts,
.page .ts_themes,
.page .ts_font_info {
    display: none;
}


/*===========================================================
  ^Basic Mobile Queries
===========================================================*/



@media screen and (max-width:40em) {

    .billboard-is-fullheight,
    .billboard-is-fullheight body,
    .billboard-is-fullheight .off-canvas-wrap,
    .billboard-is-fullheight .inner-wrap {
        height: inherit;
        overflow-y: auto;
    }

    .billboard-is-fullheight .billboard--fullheight {
        position: relative;
        height: auto;
        max-height: inherit;
    }

    .stuck {
        position: static !important;
    }

    .home .site-masthead {
        position: relative;
    }

    .home .masthead-brand,
    .home .masthead-nav,
    .home .home-nav {
        position: static;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    .home .masthead-brand .brand-logo,
    .home .masthead-brand .brand-tagline {
        width: 100%;
    }

    .home .masthead-brand .brand-logo {
        padding-top: 25px;
    }

    .home .masthead-brand .brand-mark {
        width: 100%;
        height: 1px;
        padding-top: 47.0744681%;
        background-position: bottom;
        background-size: cover;
    }

    .home .nav-column {
        padding-right: 0;
        padding-left: 0;
    }

    .home .home-nav {
        position: relative;
        top: 0;
        z-index: 2;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .home .site-nav,
    .utility-nav,
    .home .utility-nav {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 0
    }

    .utility_nav {
        width: 100%;
    }

    .home .site-nav li,
    .utility_nav li {
        display: block;
        width: 100%;
        text-align: left;
    }

    .home .utility_nav li,
    .utility_nav li {
        margin-bottom: 9px;
    }

    .home .site-content {
        padding: 20px;
    }

    .home .home_media {
        margin-bottom: 72px;
    }

    .home_media .media-attach {
        float: none;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .interior .masthead-brand {
        margin-bottom: 24px;
    }

    .interior .menu-toggle {
        position: static;

    }

    .interior .entry-header {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }

    .interior .entry-header.stuck {
        background-color: transparent !important;
    }

    .interior .entry-heading {
        padding-top: 24px;
        line-height: 1.2;
    }

    .interior .media-text {
        margin-bottom: 12px;
    }

    .interior .example-item {
        position: static;
        width: 100%;
        margin: 0;
    }

    .interior .page-nav {
        display: none;
    }
}


/*===========================================================
    ^ IE 8
===========================================================*/

.browsehappy {
    padding: 10px 19%;
    margin: 0;
    text-align: center;
    color: #000;
    background: #FFCD00;
}

.lt-ie9,
.lt-ie9 body,
.lt-ie9 div,
.lt-ie9 p,
.lt-ie9 ul,
.lt-ie9 ol,
.lt-ie9 dl,
.lt-ie9 h1,
.lt-ie9 h2,
.lt-ie9 h3,
.lt-ie9 h4,
.lt-ie9 h5,
.lt-ie9 body {
    font-family: Helvetica, Arial, sans-serif !important;
}

.lt-ie9 .row {
    width: 978px;
    max-width: 1215px;
    margin-right: auto ;
    margin-left: auto;
}

.lt-ie9 .row .row {
    width: 100%;
    max-width: auto;
    margin-right: auto ;
    margin-left: auto;
}

.lt-ie9.billboard-is-fullheight,
.lt-ie9.billboard-is-fullheight body,
.lt-ie9.billboard-is-fullheight .off-canvas-wrap,
.lt-ie9.billboard-is-fullheight .inner-wrap,
.lt-ie9 .billboard--fullheight {
}

.lt-ie8 .home .billboard-background {
    background: #68ACE5 !important;
    background-image: none;
}

.lt-ie9 .home .brand-column,
.lt-ie9 .home .nav-column {
    display: inline;
    float: left;
    width: 49%;
}

.lt-ie9 .home .nav-column {
    float: right;
}


.lt-ie9 .home .masthead-brand {
    top: 25%;
}

.lt-ie9 .home .home-nav {
    top: 40%;
}

.lt-ie8 .home .site_nav li,
.lt-ie8 .home .utility_nav li {
    display: inline;
    zoom: 1;
}

.lt-ie8 .home .site_nav li {
    display: inline;
    zoom: 1;
}

.lt-ie9 .home .masthead-brand .brand-mark {
    width: 376px;
    height: 177px;
    margin: 0 auto 60px;
    text-indent: -99999px;
    background-image: url(../images/jhu-logo-home.png);
}

.lt-ie9 .home_media .media-header {
    display: inline;
    float: left;
    width: 100%;
}

.lt-ie9 .home_media .media-attach {
    display: inline;
    float: right;
    width: 41.666%;
}

.lt-ie9 .home_media--alt .media-attach {
    float: left;
}

.lt-ie9 .home_media .media-text {
    display: inline;
    float: left;
    width: 41.666%;
}

.lt-ie9 .home_media--alt .media-text {
    float: right;
}

.lt-ie9 .interior .site-masthead {
    overflow: hidden;
}

.lt-ie9 .interior .masthead-brand {
    display: inline;
    float: left;
    width: 25%;
}

.lt-ie9 .interior .masthead-brand {
    display: inline;
    float: left;
    width: 25%;
}

.lt-ie9 .interior .brand-mark,
.lt-ie9 .site-footer .brand-mark {
    text-indent: -99999px;
    background-image: url(../images/jhu-logo-interior.png);
}

.lt-ie9 .interior .site-utility {
    display: inline;
    float: right;
    width: 65%;
}

.lt-ie9 .interior .utility_nav {
    display: block;
    width: 100%;
}

.lt-ie8 .interior .utility_nav > li {
    display: inline;
    zoom: 1;
}

.lt-ie9 .interior .utility_nav > li > a {
    font-size: 14px;
}

.lt-ie9 .interior .left-off-canvas-menu {
    position: static;
    background-color: #4A484C !important;
}

.lt-ie9 .interior .left-off-canvas-menu .site_nav {
    overflow: hidden;
    padding: 15px;
}

.lt-ie9 .interior .site_nav > li {
    display: inline;
    float: left;
    width: 19%;
    zoom: 1;
}

.lt-ie9 .interior .site_nav > li > a {
    display: block;
}

.lt-ie9 .interior .site-content {
    overflow: hidden;
}

.lt-ie9 .interior .row .row {
    width: 100%;
    max-width: 100%;
}

.lt-ie9 .interior .uno {
    float: right;
    width: 80%;
    padding: 0;
    margin: 0;
}

.lt-ie9 .interior  .dos {
    float: left;
    width: 20%;
    padding: 0;
    margin: 0;
}

.lt-ie9 .interior  .menu-toggle {
    display: none;
}

.lt-ie9 .interior .brand-mark:before {
    display: none;
}

.lt-ie9 .interior .example-item {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.lt-ie9 .interior .color-list {
    display: block;
}

.lt-ie9 .interior .color-list > * {
    display: inline;
}

.lt-ie9 .site-footer {
    overflow: hidden;
}

.lt-ie8 .home .site-footer {
    padding-top: 0;
    padding-bottom: 96px
}

.lt-ie9 .site-footer * {
    position: relative;
    zoom: 1;
}

.lt-ie9 .site-footer .footer-brand {
    display: inline;
    float: left;
    width: 25%;
}

.lt-ie9 .site-footer .footer-nav {
    display: inline;
    float: left;
    width: 55%;
}

.lt-ie8 .site-footer .footer-nav li {
    display: inline;
    zoom: 1;
}

.lt-ie9 .site-footer .footer-contact {
    display: inline;
    float: right;
    width: 15%;
}
